:root {
	--purple-1: #f7bffb;
}

body {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}

.fetch-btn {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 100px;
	padding: 8px 16px;
	margin-bottom: 10px;
	border: none;
	box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

.fetch-btn:hover {
	transform: translate(2px, 2px);
	box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
	background: var(--purple-1);
}

.wrapper {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 400px;
	font-size: 18px;
	top: 100px;
}

.expand {
	position: absolute;
	float: left;
	top: 6px;
	left: -15px;
	width: 12px;
	height: 12px;
	margin-right: 4px;
	border-radius: 50%;
	border: none;
	background: #ffa0a0;
	cursor: pointer;
	transition: 0.25s ease;
	filter: brightness(0.8);
}

.expand:hover {
	filter: brightness(1);
}

.group {
	position: relative;
	display: none;
	margin-left: 16px;
}

.level-0 {
	display: block;
}